.canvas-container {
  margin: 0 auto;
  width: 420px;
  height: 100%;
  background-color: #fff;
  overflow: auto;
  border-radius: 4px;

  .canvas-row {
    box-sizing: border-box;
    margin: 12px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid transparent;

    .canvas-item {
      pointer-events: none;
    }

    &:hover {
      border-color: #ccc;
    }

    &.selected {
      border-color: #5dade2;
    }

    &.lock {
      opacity: 0.5;
      border-color: transparent;

      &.selected,
      &:hover {
        border-color: #ccc;
      }
    }
  }
}
