.survey-card {
  margin: 20px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #f7f7f7;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .header {
    display: flex;
    align-items: center;

    .left {
      flex: 1;
      color: #3498db;
    }

    .right {
      flex: 1;
      text-align: end;
      color: #4d5656;
      font-size: 14px;
    }
  }

  .content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    $button-span: 20px;

    .left {
      button {
        margin-right: $button-span;
      }
    }

    .right {
      button {
        margin-left: $button-span;
        text-align: right;
      }
    }
  }
}