body {
  font-size: $base-font-size;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  outline: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active,
  &:visited {
    color: inherit;
  }
}
