$base-font-size: 16px;

$header-height: 80px;
$footer-height: 40px;

@mixin overflow($lines: 1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @if $lines > 1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    white-space: normal;
  }
}
