.manage-layout {
  padding: 30px 20px;
  display: flex;

  .manage-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 20px;
    width: 200px;
    border-radius: 8px;

    .manage-navigation {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: 5px;

      .link {
        width: 84px;
        display: inline-block;
        padding: 8px;
        color: inherit;
        text-decoration: none;
        background-color: transparent;
        outline: none;
        text-align: end;

        // &.active {
        //   background-color: #fff;
        //   border-radius: 4px;
        // }
        &:hover {
          background-color: #fff;
          border-radius: 4px;
        }
      }
    }
  }

  .manage-content {
    margin-left: 48px;
    flex: 1;
  }
}
